<h1> Our Restaurants </h1>


<form action="/restaurants" method="get">
  <input type="text" name="food_type" placeholder="What kind of food?">
  <input type="submit">
</form>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li> <%= restaurant.name %> | <%= restaurant.stars %> <%= link_to "Delete", restaurant_path(restaurant.id), method: :delete %></li>
  <% end %>
</ul>

